html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, font, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
:focus {
outline: 0;
}
ins {
    
    
  
text-decoration: none;
}
del {
text-decoration: line-through;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
html {
height: 100%;
}
body {
font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
background:transparent
    
}
a {
color: blue;
outline: none;
text-decoration: underline;
}
a:hover {
text-decoration: none;
}
p {
margin: 0 0 18px
}
img {
border: none;
}
input {
vertical-align: middle;
}
#wrapper {
width: 1000px;
margin: 0px auto;
background: white;
border: solid 2px red;
}
/* Header

-----------------------------------------------------------------------------*/
#header {
height: 80px;
width: 945px;
margin:0px 26px 0px 26px;
background:url(img/bg_header.gif);
position:relative;
top:-20px;
}
.logo {
position:absolute;
top:16px;
left:58px;
 }
#head_top_menu {
  float: right;
  margin-top:8px;
  margin-right:44px;
}

#head_top_menu a{
    text-decoration: none;
   
} 
#head_top_menu>ul{
    text-align: right;
}
#head_top_menu li{
    display: inline-block;
}
.common_menu a {
display:inline;
min-width:30px;
color:#666666;
font-size: 7px;
text-transform:uppercase;
padding-right: 11px;
padding-left: 11px;
 }
 
.buttone{
 display: inline;
 text-decoration:none; 
 text-align:center;
 text-transform: uppercase;
  padding:2px 2px 2px 2px;
 border:solid 1px #cccccc;
 -webkit-border-radius:2px;
 -moz-border-radius:2px; 
 border-radius: 3px; 
 font:5px Georgia, "Times New Roman", Times, serif; 
 font-weight:bold; 
 color:#666666; 
 background-color:#ffffff; 
 background-image: -moz-linear-gradient(top, #ffffff 0%,100%); 
 background-image: -webkit-linear-gradient(top, #ffffff 0%, 100%); 
 background-image: -o-linear-gradient(top, #ffffff 0%,100%); 
 background-image: -ms-linear-gradient(top, #ffffff 0% ,100%); 
 background-image: linear-gradient(top, #ffffff 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
  }
.buttonc{
 display: inline; 
 text-decoration:none; 
 text-align:center;
 text-transform: uppercase;
 padding:2px 2px 2px 2px;
 border:solid 1px #cccccc; 
 -webkit-border-radius:2px;
 -moz-border-radius:2px; 
 border-radius: 3px; 
 font:5px Georgia, "Times New Roman", Times, serif; 
 font-weight:bold; 
 color:#666666; 
 background-color:#ffffff; 
 background-image: -moz-linear-gradient(top, #ffffff 0%,100%); 
 background-image: -webkit-linear-gradient(top, #ffffff 0%, 100%); 
 background-image: -o-linear-gradient(top, #ffffff 0%,100%); 
 background-image: -ms-linear-gradient(top, #ffffff 0% ,100%); 
 background-image: linear-gradient(top, #ffffff 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff; 
  }

#head_top_menu .main_menu{
   position: relative;
}
#head_top_menu .main_menu a{
font-size:11px;
font-weight: bold;
color:#ffffff;
text-transform: uppercase;
}
#head_top_menu .main_menu .current a,
#head_top_menu .main_menu li:hover a{
color: #cc9900;    
}
#head_top_menu>.main_menu>li{
min-width: 110px;
text-align: center;
}
 
#head_top_menu>.main_menu>li> a{
display: block;
height: 100%;
position: relative;
top:10px;
}
#head_top_menu>ul,
#head_top_menu .submenu{
padding:0px;
}
#head_top_menu .submenu{
position: absolute;
left:0px;
right:0px;
bottom: -32px;
background-color: #666666;
display: none;
padding: 3px 12px;
border-radius:7px;
box-shadow: 1px 1px 5px darkgrey;
}
#head_top_menu .submenu a{
color:#333333;
padding: 2px 14px;
}


#head_top_menu .submenu li:hover>a,
#head_top_menu .submenu a.current{
color:#877691 
}
#head_top_menu> .main_menu li:hover>.submenu{
    display: block;
}

/* Middle

-----------------------------------------------------------------------------*/
#main_div{
 height: 100%;
 /*background:#ffff00;*/
 position: relative;
 
}


#middle {
float: left;    
width: 100%;
min-height: 100%;
padding: 0 0 85px;
}
#page_slogan{
position:relative;
margin: 51px 34px 85px 57px;
 display:inline-block;  
 float: left;   
 height: 75px;
 width: 380px;
 
 
}
#shoes_1{
position:relative;
bottom:150px;
left:420px;
display:inline;
height:155px;
width:151px;
}

.img_1{
position:relative;
left:165px;
top:-168px;
margin-right:5px;
margin-bottom:6px;

}
.img_1 li{
display: inline-block;
}
 
#container {
width: 100%;bottom: -24px;
float: left;
}
#content {
padding: 0 0 0 200px;
}
/* Sidebar Left

-----------------------------------------------------------------------------*/
#sideLeft {
float: left;
width: 180px;
margin-left: -100%;
position: relative;
background: #B5E3FF;
}
/* Footer

-----------------------------------------------------------------------------*/
.hfooter{
 height: 85px;
 clear: both;
}


#footer {
width: 1000px;
margin: -85px auto 0;
height: 85px;
background: #BFF08E;
position: relative;
}